body {
    margin: auto;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#keycursor {
    width: 150px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#keycursor img {
    display: block;
    position: absolute;
    width: 15vw;
    height: 35vh;
}

h1 {
    position: absolute;
    font-family: 'copse', 'Times New Roman', Times, serif;
    font-size: 100pt;
    letter-spacing: 5px;
    color: rgb(6, 6, 170);
    margin-top: 15vh;
    margin-left: 18vw;
}

a {
    position: relative;
    font-family: 'copse', 'Times New Roman', Times, serif;
    font-size: 30pt;
    color: rgb(170, 6, 61);
    text-shadow: 1px 1px 2px #ffffff;
}

#play {
    position: absolute;
    margin-top: 33vh;
    margin-left: 29vw;
}

#back {
    position: absolute;
    margin-top: 33vh;
    margin-left: 49vw;
}