body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#reefs img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#openedbox img {
    position: absolute;
    margin-left: 85vw;
    width: 15vw;
    height: 20vh;
    opacity: 0.8;
}

#track-clicks span {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 89vw;
}

header {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 92vw;
}

#fish {
    width: 150px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#fish img {
    width: 100%;
    display: block;
    position: absolute;
}

#treasure {
    background-color: rgb(184, 130, 69);
    clip-path: circle(120px at 120px 120px);
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#necklace {
    position: relative;
    width: 13vw;
    height: 30vh;
}

#key {
    position: relative;
    width: 10vw;
    height: 25vh;
}